/*
Copyright (c) 2010, Yahoo! Inc. All rights reserved.
Code licensed under the BSD License:
http://developer.yahoo.com/yui/license.html
version: 3.3.0
build: 3167
*/
html{color:#000;background:#FFF;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym{border:0;font-variant:normal;}sup{vertical-align:text-top;}sub{vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}input,textarea,select{*font-size:100%;}legend{color:#000;}


strong {
    font-weight: bolder;
}

@font-face {
    font-family: 'ralewaythin';
    src: url('../fonts/raleway-thin-webfont.eot');
    src: url('../fonts/raleway-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-thin-webfont.woff') format('woff'),
         url('../fonts/raleway-thin-webfont.ttf') format('truetype'),
         url('../fonts/raleway-thin-webfont.svg#ralewaythin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.eot');
    src: url('../fonts/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway-regular-webfont.ttf') format('truetype'),
         url('../fonts/raleway-regular-webfont.svg#ralewayregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.eot');
    src: url('../fonts/raleway-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-medium-webfont.woff') format('woff'),
         url('../fonts/raleway-medium-webfont.ttf') format('truetype'),
         url('../fonts/raleway-medium-webfont.svg#ralewaymedium') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.eot');
    src: url('../fonts/raleway-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/raleway-light-webfont.woff') format('woff'),
         url('../fonts/raleway-light-webfont.ttf') format('truetype'),
         url('../fonts/raleway-light-webfont.svg#ralewaylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'noteworthylight';
    src: url('../fonts/noteworthy-webfont.eot');
    src: url('../fonts/noteworthy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/noteworthy-webfont.woff') format('woff'),
         url('../fonts/noteworthy-webfont.ttf') format('truetype'),
         url('../fonts/noteworthy-webfont.svg#noteworthylight') format('svg');
    font-weight: normal;
    font-style: normal;

}

.clear {
    clear: both;
}

html,body{
    font-family: 'ralewaythin', HelveticaNeue-Light, sans-serif;
    width:100%;
    height:100%;
    margin: 0;
    padding: 0;
}

section.siteSlide {
    background-attachment: fixed;
    width:100%;
    height:100%;
    display: block;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow:inset 0px 3px 3px rgba(0,0,0,0.2);
}

.pageContent, #page1, #page2, #page3 {
    height: 140%;
}

.pageContent {
    min-width: 1200px;
    max-width: 100%;
    height: 100%;
    margin:0 auto;
    position:relative;
}

#page1, #page_privacy {
    z-index: 3;
	background-image: url("../images/page1_background.png");
}

#page1 img#logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 30%;
    font-family: 'noteworthylight', 'ralewaythin', HelveticaNeue-Light, sans-serif;
    font-size: 40pt;
    text-align: center;
    color: white;
    font-weight: lighter;
}

#page1 h1#main_title {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 31%;
    font-family: 'ralewaylight', HelveticaNeue-Light, sans-serif;
    font-size: 30pt;
    text-align: center;
    color: white;
}

#page_privacy img#logo {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 5%;
    font-family: 'noteworthylight', 'ralewaythin', HelveticaNeue-Light, sans-serif;
    font-size: 40pt;
    text-align: center;
    color: white;
    font-weight: lighter;
}

#page_privacy h1#main_title {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 6%;
    font-family: 'ralewaythin', HelveticaNeue-Light, sans-serif;
    font-size: 30pt;
    text-align: center;
    color: white;
}

#page_privacy .text_container {
    width: 50%;
    margin: 0 auto;
    margin-top: 40px;
    font-family: 'ralewaythin', HelveticaNeue-Light, sans-serif;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px;
    height: 74%;
    overflow-y: scroll;
    color: white;
    border-radius: 5px;
}

#page1 #page1Buttons {
    display: block;
    margin: 0 auto;
    position: relative;
    top: 40%;
    height: 42px;
    width: 282px;
}

#page1 #page1Buttons button#learn_more_button {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
    display: block;
    margin: 0 auto;
    position: relative;
    height: 42px;
    width: 136px;
    background-color: rgba(255, 255, 255, 0.58);
    border-bottom-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 10px;
    font-family: 'ralewayregular', HelveticaNeue-Light, sans-serif;
    font-size: 12pt;
    outline: none;
    float: right;
}

#page1 #page1Buttons a {
    position: relative;
    top: 1px;
}

#page1 #page1Buttons .page1Button{
    float: left;
}

#page1 #page1Buttons a:hover {
    cursor: pointer;
}

#page1 button#learn_more_button:hover {
    background-color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

#page2 {
    z-index: 2;
	background-image: url("../images/page2_background.png");
}

#page2 div.pageContent ul#feature_list {
    position: relative;
	top: 50%;
	transform: translateY(-50%);
    float: left;
    margin-left: 30px;
}

#page2 div.pageContent ul#feature_list li {
    float: left;
    display: block;
    margin-right: 80px;
}

#page2 div.pageContent ul#feature_list li:last-child {
    margin-right: 0;
}

#page2 div.pageContent ul#feature_list li p {
    width: 100%;
    text-align: center;
    position: relative;
    left: 2px;
    margin-top: 10px;
}

#page2 div.pageContent ul#feature_list li p.feature_title {
    font-family: 'ralewaymedium', "Helvetica Neue", sans-serif;
    font-size: 12pt;
    color: #fff0ff;
}

#page2 div.pageContent ul#feature_list li p.feature_text {
    font-family: 'ralewayregular', "Helvetica Neue", sans-serif;
    font-size: 8pt;
    color: #ffffff;
    width: 150px;
    margin: 0 auto;
    margin-top: 10px;
    text-align: center;
}

#page2 div.pageContent ul#feature_list li div {
    width: 100px;
    height: 100px;
    display: block;
    border-radius: 150%;
    background-color: #ffffff;
    margin: 0 auto;
}

#page2 div.pageContent ul#feature_list li div:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: 1.45em;
}

#page2 div.pageContent ul#feature_list li div img {
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
}

#page2 div.pageContent img#features_iphone {
    float: right;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
    right: 5%;
}

#page3 {
    position: relative;
    /*top: -1%;*/
    /*height: 99%;*/
    z-index: 1;
	background-image: url("../images/page3_background.png");
}

#page3 img#video_play_button {
    margin: 0 auto;
    display: block;
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
    opacity: 0.48;
}

#page3 img#video_play_button:hover {
    opacity: 1;
    cursor: pointer;
}

.playingVideo {
    opacity: 0 !important;
}

.playingVideo:hover {
    opacity: 1 !important;
    cursor: pointer;
}

#page3 div#video_controls_container {
    width: 300px;
    margin: 0 auto;
    display: block;
    position: relative;
	top: 50%;
	transform: translateY(-50%);
}

#page3 h2 {
    margin-top: 20px;
    text-align: center;
    font-family: 'ralewaythin', "Helvetica Neue", sans-serif;
    font-size: 23pt;
    color: #ffffff;
}

#page3 video#page3Video {
    position: absolute;
    width: 100%;
    height: 94%;
    opacity: 0.30;
    object-fit: cover;
    left: 0px;
    top: 6%;
}

.custom-video-controls {
  z-index: 2147483647;
}

video::-webkit-media-controls {
    display:none !important;
}

div.bottom_more_button {
    -webkit-transition: background-color 300ms;
    -moz-transition: background-color 300ms;
    -ms-transition: background-color 300ms;
    -o-transition: background-color 300ms;
    transition: background-color 300ms;
    width: 100%;
    height: 37px;
    display: block;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    background-color: rgba(64, 64, 64, 0.48);
    z-index: 99;
}

div.bottom_more_button:hover {
    cursor: pointer;
    background-color: rgba(64, 64, 64, 0.75);
}

div.bottom_more_button img {
    -webkit-transition: opacity 400ms;
    -moz-transition: opacity 400ms;
    -ms-transition: opacity 400ms;
    -o-transition: opacity 400ms;
    transition: opacity 400ms;
    margin: 12px auto;
    position: relative;
    display: block;
    opacity: 0.5;
}

div.bottom_more_button img:hover {
    cursor: pointer;
    opacity: 1;
}


/*Media Queries*/

@media (max-width: 1235px) {
    #page3 video#page3Video {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.30;
        object-fit: cover;
        left: 0px;
        top: 0px;
    }
}

@media (min-width: 321px) {
    .pageContent, #page1, #page2, #page3 {
        height: 100%;
    }
}

@media (max-width: 1180px) and (min-width: 1024px) {
    .pageContent, #page1, #page2, #page3 {
        height: 100%;
    }
    .pageContent {
        max-width: 1180px;
        min-width: 1024px;
    }
    #page2 div.pageContent ul#feature_list {
        max-width: 80%;
        height: 94%;
        margin: 0 auto;
        float: left;
        top: 0%;
        transform: translateY(0%);
    }
    #page2 div.pageContent ul#feature_list li {
        margin-right: 0px;
        width: 50%;
        height: 50%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(1), #page2 div.pageContent ul#feature_list li:nth-child(2) {
        padding-top: 18%;
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(3), #page2 div.pageContent ul#feature_list li:nth-child(4) {
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li p.feature_text {

    }
}

@media (max-width: 1024px) and (min-width: 768px) {
    .pageContent, #page1, #page2, #page3 {
        height: 100%;
    }
    .pageContent {
        max-width: 1024px;
        min-width: 768px;
    }
    #page2 div.pageContent ul#feature_list {
        max-width: 60%;
        height: 94%;
        margin: 0 auto;
        float: left;
        top: 0%;
        transform: translateY(0%);
    }
    #page2 div.pageContent ul#feature_list li {
        margin-right: 0px;
        width: 50%;
        height: 50%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(1), #page2 div.pageContent ul#feature_list li:nth-child(2) {
        padding-top: 25%;
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(3), #page2 div.pageContent ul#feature_list li:nth-child(4) {
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li p.feature_text {

    }
}

@media (max-width: 767px) and (min-width: 640px) {

    #page1 h1#main_title {
        width: 99%;
        font-size: 25pt !important;
    }
    #page1 #page1Buttons {
        top: 37%;
    }
    #page2 div.pageContent img#features_iphone {
        display: none;
        width: 0px;
        height: 0px;
    }
    .pageContent {
        max-width: 767px;
        min-width: 640px;
    }
    #page2 div.pageContent ul#feature_list {
        max-width: 99%;
        height: 100%;
        margin: 0 auto;
        float: none;
        top: 0%;
        transform: translateY(0%);
    }
    #page2 div.pageContent ul#feature_list li {
        margin-right: 0px;
        width: 50%;
        height: 50%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(1), #page2 div.pageContent ul#feature_list li:nth-child(2) {
        padding-top: 15%;
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(3), #page2 div.pageContent ul#feature_list li:nth-child(4) {
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li p.feature_text {

    }
}

@media (max-width: 639px) and (min-width: 480px) {

    #page1 h1#main_title {
        width: 99%;
        font-size: 25pt !important;
    }
    #page1 #page1Buttons {
        top: 37%;
    }
    #page2 div.pageContent img#features_iphone {
        display: none;
        width: 0px;
        height: 0px;
    }
    .pageContent {
        max-width: 639px;
        min-width: 480px;
    }
    #page2 div.pageContent ul#feature_list {
        max-width: 99%;
        height: 100%;
        margin: 0 auto;
        float: none;
        top: 0%;
        transform: translateY(0%);
    }
    #page2 div.pageContent ul#feature_list li {
        margin-right: 0px;
        width: 50%;
        height: 50%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(1), #page2 div.pageContent ul#feature_list li:nth-child(2) {
        padding-top: 15%;
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(3), #page2 div.pageContent ul#feature_list li:nth-child(4) {
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li p.feature_text {

    }
}

@media (max-width: 479px) and (min-width: 320px) {

    #page1 h1#main_title {
        width: 99%;
        font-size: 25pt !important;
    }
    #page1 #page1Buttons {
        top: 37%;
    }
    #page2 div.pageContent img#features_iphone {
        display: none;
        width: 0px;
        height: 0px;
    }
    #page2 {
        min-height: 120%;
    }
    .pageContent {
        max-width: 479px;
        min-width: 320px;
    }
    #page2 div.pageContent ul#feature_list {
        max-width: 99%;
        height: 100%;
        margin: 0 auto;
        float: none;
        top: 0%;
        transform: translateY(0%);
    }
    #page2 div.pageContent ul#feature_list li {
        margin-right: 0px;
        width: 50%;
        height: 50%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(1), #page2 div.pageContent ul#feature_list li:nth-child(2) {
        padding-top: 15%;
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li:nth-child(3), #page2 div.pageContent ul#feature_list li:nth-child(4) {
        height: 40%;
    }
    #page2 div.pageContent ul#feature_list li p.feature_text {

    }
    #page3 div#video_controls_container {
        top: 20%;
	    transform: translateY(0%);
    }
}